/* Applies to everything */
* {
	font-family: sans-serif;
	color:rgb(159, 159, 159);
}

body {
	/* Problem: image repeats */
	background-image: url("27819348.jpg");
	background-size: cover;
	padding: 2em;
}

header {
	padding: 1em;
}

h1 {
	color: white;
}

h2 {
	color: white;
}

h2.info {
	font-size: medium;
	color: rgb(159, 159, 159);
}

h2 span {
	font-size: medium;
	color: darkred;
}

h3 {
	color: white;
}

hr {
	border: 1px solid rgb(159, 159, 159);
}

div {
	background-color: rgba(40, 40, 40, 0.7);
	padding: 1px 20px 1px 20px;
}

nav {
	display: flex;
	justify-content: space-between;
	margin-top: -10%;
}

nav a {
	color: red;
	background-color: rgb(40, 40, 40);
	padding: 0.6em;
	border-radius: 0.5em;
}


/* Change the styles for big screens */
@media (min-width: 900px) {
  body {
		padding: 2em 7em 2em 7em;
	}

	nav {
		visibility: hidden;
	}

	div {
		/* background-image: linear-gradient(to top, #232323, #343434); */
		background-color: rgb(30, 30, 30);
		box-shadow: 10px 10px 5px 0px #000000;
	}
}
