@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
	--myColour: black;
}

* {
	font-family: 'Nunito', sans-serif;
	color:rgb(159, 159, 159);
}

.big-image {
	display: none;
}

.icons {
	/* display: none; */
	margin-top: 30px;
}

body {
	background-image: url("27819348.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	padding: 1em;
	overflow-x: hidden;
}

footer {
  position: absolute;
  bottom: 0;
	width: 100%;
	display: none;
}

header {
	padding: 1em;
}

h1 {
	color: white;
}

h2 {
	color: white;
}

h2.info {
	font-size: medium;
	color: rgb(159, 159, 159);
}

h2 span {
	font-size: medium;
	color: var(--myColour);
}

.description {
	padding-left: 0%;
}

.first p {
	padding-left: 0%;
}

h3 {
	color: white;
}

hr {
	border: 1px solid rgb(159, 159, 159);
}

.square {
	background-color: rgba(40, 40, 40, 0.7);
	padding: 1px 20px 1px 20px;
}

.subheadings {
	background-color: rgba(0,0,0,0);
}

nav {
	display: flex;
	flex-direction: column;
	font-size: 36px;
	font-weight: bold;
	position: fixed;
	z-index: 2;
	width: 100vw;
	top: 0;
	left: 0;
	bottom: 0;
	transform: translateX(100vw);
	transition: 0.5s;
	background-color: rgb(40, 40, 40);
}

nav.open {
	transform: translateX(0);
}

nav a {
	color: var(--myColour);
	background-color: rgb(40, 40, 40);
	padding: 2em;
	text-align: center;
	height: 100%;
}

nav a:nth-child(even) {
	background-color: rgb(33, 33, 33);
}

nav a:active {
  background-color: var(--myColour);
}

.hamburger {
	height: 2%;
	background-color: var(--myColour);
	font-size: x-large;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 3;
	margin: 0.5em;
	padding-left: 0.3em;
	padding-right: 0.3em;
	padding-bottom: 0.5em;
	border-radius: 5px;
	outline: 2px solid black;
	transition: transform 0.2s ease-in-out;
}

.hamburger.active {
  transform: scale(0.8);
}

img {
	max-width: 100%;
	height: auto;
	margin: auto;
}

.image {
	display: flex;
	position: relative;
	z-index: 1;
}

.image::after {
	content: ' ';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), black);
}

.image-text {
	position: absolute;
	bottom: 4vw;
	left: 0;
	width: 100%;
	background-color: rgba(0,0,0,0);
	color: var(--myColour);
	text-align: center;
	padding: 10px;
	font-size: 3vw;
	line-height: 2.0;
	z-index: 1;
}

.image-text:first-line {
	font-size: 4vw;
	color: white;
	font-weight: 600;
}

.iconContainer {
	display: flex;
}

.third h3 {
	padding-left: 16px;
	margin-right: 10px;
}

.third p {
	margin-top: 0;
}

.iconContainer i {
	margin-top: 31px;
}

.android-icon {
	padding-top: 3px;
}

.formTitle {
	text-align: center;
}

.myInputs {
	display: flex;
  flex-direction: column;
  align-items: left;
}

textarea {
	resize: none;
}

textarea.error {
	outline: 2px solid red;
}

.contact {
	display: flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: 10px;
	padding-left: 2em;
	padding-right: 3em;
}

.contact label {
	font-size: x-large;
  width: 80px;
	padding-bottom: 15px;
	text-align: left;
}

.contact textarea {
	color: black;
	background-color: darkgray;
	padding: 0.5em;
	width: 100%;
}

.contact button {
	padding: 0.5em;
	background-color: var(--myColour);
	border: none;
	border-radius: 5px;
	outline: 2px solid black;
	cursor: pointer;
	font-size: large;
	align-self: center;
	margin: 1em;
}

#repos div {
	background-color: navy;
	border-radius: 30px;
	margin-bottom: 1em;
	margin-top: 1em;
	outline: 3px solid black;
}

#repos i {
	float: right;
	margin-top: 10px;
}

#repos h3 {
	color: white;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background-color: black;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
}

#repos p {
	color: white;
	padding-top: 1em;
}

#repos a {
	color: aqua;
	word-break: break-word;
}

#repos h3, p {
	padding-left: 1em;
	padding-right: 1em;
}

.nav-icon {
	display: none !important;
	float: right;
	color: var(--myColour);
	padding: 10px;
}

.fourth .nav-icon {
	padding: 20px;
}

@media screen and (min-width: 900px) {
  body {
		margin-top: -1em;
	}

	.square {
		background-color: rgb(30, 30, 30);
		box-shadow: 10px 10px 5px 0px #000000;
	}

	.my-grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, auto);
		grid-gap: 1em;
	}
	
	.image {
		grid-row: 1/3;
		max-width: 100%;
		height: auto;
		margin-bottom: 20px;
	}

	.image-text {
		font-size: 20px;
		bottom: 10px;
	}

	.image-text:first-line {
		font-size: 30px;
	}

	.subheadings {
		display: flex;
  	flex-direction: column;
  	justify-content: flex-start;
		font-size: large;
		margin-top: -1em;
	}

	.subheadings, h3 {
		margin-bottom: 0.5em;
	}

	.third h3, p {
		padding-left: 5px;
	}

	#repos {
		flex-direction: column;
		flex-wrap: wrap;
	}

	#repos p {
		padding-left: 1em;
	}
}

@media screen and (min-width: 1020px) {

	.nav-icon {
		display: block !important;
	}

	header {
		visibility: hidden;
	}

	.subheadings {
		font-size: larger;
	}

	.description {
		font-size: large;
	}

	.square {
		zoom: 90%;
	}

	#repos {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin-bottom: 2em;
		width: 50%;
		height: 50%;
	}

	#repos div {
		width: 400px;
		height: 320px;
	}

	#repos h3 {
		margin-top: -1em;
	}
}

@media screen and (min-width: 1300px) {
	footer {
		display: contents;
	}

	.square {
		margin-bottom: 1em;
	}
}

@media screen and (min-width: 1520px) {

	.first body {
		padding: 90px;
		padding-left: 150px;
		padding-right: 150px;
		overflow: hidden;
	}

	.icons {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		margin-bottom: 30px;
	}

	div.subheadings {
		margin-left: 0;
	}

	.first .square {
		display: flex;
		gap: 10em;
		zoom: 0.8;
	}

	.text {
		font-size: 20px;
		width: 70%;
	}
	
	.big-image {
		display: block;
		bottom: 1em;
		width: 600px;
		height: 825px;
		margin-right: 20px;
		position: relative;
		box-shadow: 5px 5px 20px 0px #000000, -5px 5px 20px 0px #000000,
								5px -5px 20px 0px #000000, -5px -5px 20px 0px #000000;
	}

	.big-image::after {
		content: ' ';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), black);
	}

	.image-text {
		position: absolute;
		bottom: 75px;
		left: 0;
		width: 100%;
		background-color: rgba(0,0,0,0);
		color: var(--myColour);
		text-align: center;
		padding: 10px;
		font-size: 30px;
		line-height: 2.0;
		z-index: 1;
	}

	.image-text:first-line {
		font-size: 40px;
		color: white;
		font-weight: 600;
	}

	.big-image img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.fourth .square {
		zoom: 0.65;
	}

	.fourth .square span {
		font-size: 24px;
	}

	.fourth h1 {
		font-size: 48px;
	}

	textarea {
		font-size: 24px;
	}

	.contact textarea {
		background-color: transparent;
		border-radius: 5px;
		border: white;
		outline: 3px solid white;
		color: white;
	}

	.contact label {
		font-size: 32px;
	}

	textarea.error {
		outline: 3px solid red;
		border: red;
	}

	.contact button {
		width: 10%;
		background-color: transparent;
		outline: 3px solid white;
		color: white;
		font-size: 28px;
	}

	.formTitle {
		font-size: 36px;
		font-family: 'Nunito', sans-serif;
		font-weight: 100;
	}

	.image {
		display: none;
	}

	.subheadings {
		max-width: 100%;
	}

	#repos {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
	}

	#repos div {
		width: 350px;
		height: 320px;
	}
}

@media screen and (min-width: 1800px) {
	h2 {
		font-size: xx-large;
	}

	div.square {
		margin-top: 3em;
	}

	.subheadings {
		margin-left: -0.75em;
	}

	.subheadings, section {
		font-size: 125%;
	}
}

